[submodule "google/gmock"]
  path = google/gmock
  url = https://chromium.googlesource.com/external/gmock
[submodule "google/breakpad"]
  path = google/breakpad
  url = https://chromium.googlesource.com/external/google-breakpad
[submodule "google/gtest"]
  path = google/gtest
  url = https://chromium.googlesource.com/external/gtest
[submodule "google/lss"]
  path = google/lss
  url = https://chromium.googlesource.com/external/linux-syscall-support
[submodule "google/webrtc"]
  path = google/webrtc
  url = https://chromium.googlesource.com/external/webrtc
[submodule "boost/algorithm"]
  path = boost/algorithm
  url = http://github.com/boostorg/algorithm
[submodule "boost/array"]
  path = boost/array
  url = http://github.com/boostorg/array
[submodule "boost/asio"]
  path = boost/asio
  url = http://github.com/boostorg/asio
[submodule "boost/any"]
  path = boost/any
  url = http://github.com/boostorg/any
[submodule "boost/atomic"]
  path = boost/atomic
  url = http://github.com/boostorg/atomic
[submodule "boost/assign"]
  path = boost/assign
  url = http://github.com/boostorg/assign
[submodule "boost/bind"]
  path = boost/bind
  url = http://github.com/boostorg/bind
[submodule "boost/chrono"]
  path = boost/chrono
  url = http://github.com/boostorg/chrono
[submodule "boost/concept_check"]
  path = boost/concept_check
  url = http://github.com/boostorg/concept_check
[submodule "boost/config"]
  path = boost/config
  url = http://github.com/boostorg/config
[submodule "boost/container"]
  path = boost/container
  url = http://github.com/boostorg/container
[submodule "boost/conversion"]
  path = boost/conversion
  url = http://github.com/boostorg/conversion
[submodule "boost/core"]
  path = boost/core
  url = http://github.com/boostorg/core
[submodule "boost/date_time"]
  path = boost/date_time
  url = http://github.com/boostorg/date_time
[submodule "boost/exception"]
  path = boost/exception
  url = http://github.com/boostorg/exception
[submodule "boost/function"]
  path = boost/function
  url = http://github.com/boostorg/function
[submodule "boost/function_types"]
  path = boost/function_types
  url = http://github.com/boostorg/function_types
[submodule "boost/filesystem"]
  path = boost/filesystem
  url = http://github.com/boostorg/filesystem
[submodule "boost/functional"]
  path = boost/functional
  url = http://github.com/boostorg/functional
[submodule "boost/fusion"]
  path = boost/fusion
  url = http://github.com/boostorg/fusion
[submodule "boost/foreach"]
  path = boost/foreach
  url = http://github.com/boostorg/foreach
[submodule "boost/integer"]
  path = boost/integer
  url = http://github.com/boostorg/integer
[submodule "boost/interprocess"]
  path = boost/interprocess
  url = http://github.com/boostorg/interprocess
[submodule "boost/intrusive"]
  path = boost/intrusive
  url = http://github.com/boostorg/intrusive
[submodule "boost/io"]
  path = boost/io
  url = http://github.com/boostorg/io
[submodule "boost/iostreams"]
  path = boost/iostreams
  url = http://github.com/boostorg/iostreams
[submodule "boost/iterator"]
  path = boost/iterator
  url = http://github.com/boostorg/iterator
[submodule "boost/log"]
  path = boost/log
  url = http://github.com/boostorg/log
[submodule "boost/logic"]
  path = boost/logic
  url = http://github.com/boostorg/logic
[submodule "boost/locale"]
  path = boost/locale
  url = http://github.com/boostorg/locale
[submodule "boost/local_function"]
  path = boost/local_function
  url = http://github.com/boostorg/local_function
[submodule "boost/lambda"]
  path = boost/lambda
  url = http://github.com/boostorg/lambda
[submodule "boost/math"]
  path = boost/math
  url = http://github.com/boostorg/math
[submodule "boost/move"]
  path = boost/move
  url = http://github.com/boostorg/move
[submodule "boost/mpl"]
  path = boost/mpl
  url = http://github.com/boostorg/mpl
[submodule "boost/multi_index"]
  path = boost/multi_index
  url = http://github.com/boostorg/multi_index
[submodule "boost/numeric_conversion"]
  path = boost/numeric_conversion
  url = http://github.com/boostorg/numeric_conversion
[submodule "boost/optional"]
  path = boost/optional
  url = http://github.com/boostorg/optional
[submodule "boost/parameter"]
  path = boost/parameter
  url = http://github.com/boostorg/parameter
[submodule "boost/proto"]
  path = boost/proto
  url = http://github.com/boostorg/proto
[submodule "boost/property_tree"]
  path = boost/property_tree
  url = http://github.com/boostorg/property_tree
[submodule "boost/predef"]
  path = boost/predef
  url = http://github.com/boostorg/predef
[submodule "boost/phoenix"]
  path = boost/phoenix
  url = http://github.com/boostorg/phoenix
[submodule "boost/preprocessor"]
  path = boost/preprocessor
  url = http://github.com/boostorg/preprocessor
[submodule "boost/range"]
  path = boost/range
  url = http://github.com/boostorg/range
[submodule "boost/ratio"]
  path = boost/ratio
  url = http://github.com/boostorg/ratio
[submodule "boost/regex"]
  path = boost/regex
  url = http://github.com/boostorg/regex
[submodule "boost/serialization"]
  path = boost/serialization
  url = http://github.com/boostorg/serialization
[submodule "boost/scope_exit"]
  path = boost/scope_exit
  url = http://github.com/boostorg/scope_exit
[submodule "boost/smart_ptr"]
  path = boost/smart_ptr
  url = http://github.com/boostorg/smart_ptr
[submodule "boost/static_assert"]
  path = boost/static_assert
  url = http://github.com/boostorg/static_assert
[submodule "boost/system"]
  path = boost/system
  url = http://github.com/boostorg/system
[submodule "boost/spirit"]
  path = boost/spirit
  url = http://github.com/boostorg/spirit
[submodule "boost/thread"]
  path = boost/thread
  url = http://github.com/boostorg/thread
[submodule "boost/tokenizer"]
  path = boost/tokenizer
  url = http://github.com/boostorg/tokenizer
[submodule "boost/tuple"]
  path = boost/tuple
  url = http://github.com/boostorg/tuple
[submodule "boost/typeof"]
  path = boost/typeof
  url = http://github.com/boostorg/typeof
[submodule "boost/type_traits"]
  path = boost/type_traits
  url = http://github.com/boostorg/type_traits
[submodule "boost/test"]
  path = boost/test
  url = http://github.com/boostorg/test
[submodule "boost/timer"]
  path = boost/timer
  url = http://github.com/boostorg/timer
[submodule "boost/units"]
  path = boost/units
  url = http://github.com/boostorg/units
[submodule "boost/utility"]
  path = boost/utility
  url = http://github.com/boostorg/utility
[submodule "boost/unordered"]
  path = boost/unordered
  url = http://github.com/boostorg/unordered
[submodule "boost/variant"]
  path = boost/variant
  url = http://github.com/boostorg/variant
[submodule "boost/xpressive"]
  path = boost/xpressive
  url = http://github.com/boostorg/xpressive
[submodule "llvm/clang"]
  path = llvm/clang
  url = http://llvm.org/git/clang
[submodule "llvm/compiler-rt"]
  path = llvm/compiler-rt
  url = http://llvm.org/git/compiler-rt
[submodule "llvm/libcxx"]
  path = llvm/libcxx
  url = http://llvm.org/git/libcxx
[submodule "llvm/libcxxabi"]
  path = llvm/libcxxabi
  url = http://llvm.org/git/libcxxabi
[submodule "llvm/llvm"]
  path = llvm/llvm
  url = http://llvm.org/git/llvm
[submodule "doxygen"]
  path = doxygen
  url = http://github.com/doxygen/doxygen.git
[submodule "cmake"]
  path = cmake
  url = http://cmake.org/cmake.git
[submodule "gnu/glibc"]
  path = gnu/glibc
  url = git://sourceware.org/git/glibc.git
[submodule "gnu/gcc"]
  path = gnu/gcc
  url = git://gcc.gnu.org/git/gcc.git
[submodule "nginx"]
  path = nginx
  url = http://github.com/nginx/nginx
[submodule "safe_numerics"]
  path = safe_numerics
  url = http://github.com/robertramey/safe_numerics
[submodule "cpp-netlib"]
  path = cpp-netlib
  url = http://github.com/cpp-netlib/cpp-netlib
[submodule "uri"]
  path = uri
  url = http://github.com/cpp-netlib/uri
[submodule "configs"]
  path = configs
  url = https://github.com/ruslo/configs
[submodule "git"]
  path = git
  url = https://github.com/git/git
[submodule "sugar"]
  path = sugar
  url = https://github.com/ruslo/sugar
[submodule "json/rapidjson"]
  path = json/rapidjson
  url = https://github.com/ruslo/rapidjson
[submodule "polly"]
  path = polly
  url = https://github.com/ruslo/polly
[submodule "hunter"]
  path = hunter
  url = https://github.com/ruslo/hunter
[submodule "gate"]
	path = gate
	url = https://github.com/hunter-packages/gate
