[submodule "google/gmock"]
  path = google/gmock
  url = https://chromium.googlesource.com/external/gmock
[submodule "google/breakpad"]
  path = google/breakpad
  url = https://chromium.googlesource.com/external/google-breakpad
[submodule "google/gtest"]
  path = google/gtest
  url = https://chromium.googlesource.com/external/gtest
[submodule "google/lss"]
  path = google/lss
  url = https://chromium.googlesource.com/external/linux-syscall-support
[submodule "google/webrtc"]
  path = google/webrtc
  url = https://chromium.googlesource.com/external/webrtc
[submodule "boost/algorithm"]
  path = boost/algorithm
  url = http://github.com/boostorg/algorithm
[submodule "boost/array"]
  path = boost/array
  url = http://github.com/boostorg/array
[submodule "boost/asio"]
  path = boost/asio
  url = http://github.com/boostorg/asio
[submodule "boost/any"]
  path = boost/any
  url = http://github.com/boostorg/any
[submodule "boost/atomic"]
  path = boost/atomic
  url = http://github.com/boostorg/atomic
[submodule "boost/assign"]
  path = boost/assign
  url = http://github.com/boostorg/assign
[submodule "boost/bind"]
  path = boost/bind
  url = http://github.com/boostorg/bind
[submodule "boost/chrono"]
  path = boost/chrono
  url = http://github.com/boostorg/chrono
[submodule "boost/concept_check"]
  path = boost/concept_check
  url = http://github.com/boostorg/concept_check
[submodule "boost/config"]
  path = boost/config
  url = http://github.com/boostorg/config
[submodule "boost/container"]
  path = boost/container
  url = http://github.com/boostorg/container
[submodule "boost/conversion"]
  path = boost/conversion
  url = http://github.com/boostorg/conversion
[submodule "boost/core"]
  path = boost/core
  url = http://github.com/boostorg/core
[submodule "boost/date_time"]
  path = boost/date_time
  url = http://github.com/boostorg/date_time
[submodule "boost/exception"]
  path = boost/exception
  url = http://github.com/boostorg/exception
[submodule "boost/function"]
  path = boost/function
  url = http://github.com/boostorg/function
[submodule "boost/function_types"]
  path = boost/function_types
  url = http://github.com/boostorg/function_types
[submodule "boost/filesystem"]
  path = boost/filesystem
  url = http://github.com/boostorg/filesystem
[submodule "boost/functional"]
  path = boost/functional
  url = http://github.com/boostorg/functional
[submodule "boost/foreach"]
  path = boost/foreach
  url = http://github.com/boostorg/foreach
[submodule "boost/integer"]
  path = boost/integer
  url = http://github.com/boostorg/integer
[submodule "boost/interprocess"]
  path = boost/interprocess
  url = http://github.com/boostorg/interprocess
[submodule "boost/intrusive"]
  path = boost/intrusive
  url = http://github.com/boostorg/intrusive
[submodule "boost/io"]
  path = boost/io
  url = http://github.com/boostorg/io
[submodule "boost/iostreams"]
  path = boost/iostreams
  url = http://github.com/boostorg/iostreams
[submodule "boost/iterator"]
  path = boost/iterator
  url = http://github.com/boostorg/iterator
[submodule "boost/logic"]
  path = boost/logic
  url = http://github.com/boostorg/logic
[submodule "boost/locale"]
  path = boost/locale
  url = http://github.com/boostorg/locale
[submodule "boost/local_function"]
  path = boost/local_function
  url = http://github.com/boostorg/local_function
[submodule "boost/lambda"]
  path = boost/lambda
  url = http://github.com/boostorg/lambda
[submodule "boost/math"]
  path = boost/math
  url = http://github.com/boostorg/math
[submodule "boost/move"]
  path = boost/move
  url = http://github.com/boostorg/move
[submodule "boost/mpl"]
  path = boost/mpl
  url = http://github.com/boostorg/mpl
[submodule "boost/multi_index"]
  path = boost/multi_index
  url = http://github.com/boostorg/multi_index
[submodule "boost/numeric_conversion"]
  path = boost/numeric_conversion
  url = http://github.com/boostorg/numeric_conversion
[submodule "boost/optional"]
  path = boost/optional
  url = http://github.com/boostorg/optional
[submodule "boost/parameter"]
  path = boost/parameter
  url = http://github.com/boostorg/parameter
[submodule "boost/property_tree"]
  path = boost/property_tree
  url = http://github.com/boostorg/property_tree
[submodule "boost/predef"]
  path = boost/predef
  url = http://github.com/boostorg/predef
[submodule "boost/proto"]
  path = boost/proto
  url = http://github.com/boostorg/proto
[submodule "boost/phoenix"]
  path = boost/phoenix
  url = http://github.com/boostorg/phoenix
[submodule "boost/preprocessor"]
  path = boost/preprocessor
  url = http://github.com/boostorg/preprocessor
[submodule "boost/range"]
  path = boost/range
  url = http://github.com/boostorg/range
[submodule "boost/ratio"]
  path = boost/ratio
  url = http://github.com/boostorg/ratio
[submodule "boost/regex"]
  path = boost/regex
  url = http://github.com/boostorg/regex
[submodule "boost/serialization"]
  path = boost/serialization
  url = http://github.com/boostorg/serialization
[submodule "boost/scope_exit"]
  path = boost/scope_exit
  url = http://github.com/boostorg/scope_exit
[submodule "boost/smart_ptr"]
  path = boost/smart_ptr
  url = http://github.com/boostorg/smart_ptr
[submodule "boost/static_assert"]
  path = boost/static_assert
  url = http://github.com/boostorg/static_assert
[submodule "boost/system"]
  path = boost/system
  url = http://github.com/boostorg/system
[submodule "boost/thread"]
  path = boost/thread
  url = http://github.com/boostorg/thread
[submodule "boost/tokenizer"]
  path = boost/tokenizer
  url = http://github.com/boostorg/tokenizer
[submodule "boost/tuple"]
  path = boost/tuple
  url = http://github.com/boostorg/tuple
[submodule "boost/typeof"]
  path = boost/typeof
  url = http://github.com/boostorg/typeof
[submodule "boost/type_traits"]
  path = boost/type_traits
  url = http://github.com/boostorg/type_traits
[submodule "boost/test"]
  path = boost/test
  url = http://github.com/boostorg/test
[submodule "boost/timer"]
  path = boost/timer
  url = http://github.com/boostorg/timer
[submodule "boost/units"]
  path = boost/units
  url = http://github.com/boostorg/units
[submodule "boost/utility"]
  path = boost/utility
  url = http://github.com/boostorg/utility
[submodule "boost/unordered"]
  path = boost/unordered
  url = http://github.com/boostorg/unordered
[submodule "boost/variant"]
  path = boost/variant
  url = http://github.com/boostorg/variant
[submodule "boost/xpressive"]
  path = boost/xpressive
  url = http://github.com/boostorg/xpressive
[submodule "llvm/clang"]
  path = llvm/clang
  url = http://llvm.org/git/clang
[submodule "llvm/compiler-rt"]
  path = llvm/compiler-rt
  url = http://llvm.org/git/compiler-rt
[submodule "llvm/libcxx"]
  path = llvm/libcxx
  url = http://llvm.org/git/libcxx
[submodule "llvm/libcxxabi"]
  path = llvm/libcxxabi
  url = http://llvm.org/git/libcxxabi
[submodule "llvm/llvm"]
  path = llvm/llvm
  url = http://llvm.org/git/llvm
[submodule "doxygen"]
  path = doxygen
  url = http://github.com/doxygen/doxygen.git
[submodule "gnu/glibc"]
  path = gnu/glibc
  url = git://sourceware.org/git/glibc.git
[submodule "gnu/gcc"]
  path = gnu/gcc
  url = git://gcc.gnu.org/git/gcc.git
[submodule "nginx"]
  path = nginx
  url = http://github.com/nginx/nginx
[submodule "safe_numerics"]
  path = safe_numerics
  url = http://github.com/robertramey/safe_numerics
[submodule "cpp-netlib"]
  path = cpp-netlib
  url = http://github.com/cpp-netlib/cpp-netlib
[submodule "uri"]
  path = uri
  url = http://github.com/cpp-netlib/uri
[submodule "git"]
  path = git
  url = https://github.com/git/git
[submodule "configs"]
  path = configs
  url = https://github.com/ruslo/configs
[submodule "json/rapidjson"]
  path = json/rapidjson
  url = https://github.com/ruslo/rapidjson
[submodule "curlpp"]
  path = curlpp
  url = https://github.com/ruslo/curlpp
[submodule "ruslo/weather"]
  path = ruslo/weather
  url = https://github.com/ruslo/weather
[submodule "ruslo/intsizeof"]
  path = ruslo/intsizeof
  url = https://github.com/ruslo/intsizeof
[submodule "ruslo/int-dec-format-tests"]
  path = ruslo/int-dec-format-tests
  url = https://github.com/ruslo/int-dec-format-tests
[submodule "ruslo/sober"]
  path = ruslo/sober
  url = http://github.com/ruslo/sober
[submodule "cmake"]
  path = cmake
  url = https://github.com/Kitware/CMake
[submodule "llvm/clang-tools-extra"]
  path = llvm/clang-tools-extra
  url = http://llvm.org/git/clang-tools-extra
[submodule "curl"]
  path = curl
  url = https://github.com/bagder/curl
[submodule "zlib"]
  path = zlib
  url = https://github.com/madler/zlib
[submodule "igloo"]
  path = igloo
  url = https://github.com/joakimkarlsson/igloo
[submodule "openssl"]
  path = openssl
  url = https://github.com/openssl/openssl
[submodule "forexample/test-ios-universal"]
  path = forexample/test-ios-universal
  url = https://github.com/forexample/test-ios-universal
[submodule "forexample/package-example"]
  path = forexample/package-example
  url = https://github.com/forexample/package-example
[submodule "asio"]
  path = asio
  url = https://github.com/chriskohlhoff/asio
[submodule "urdl"]
  path = urdl
  url = https://github.com/chriskohlhoff/urdl
[submodule "xvim"]
  path = xvim
  url = https://github.com/JugglerShu/XVim
[submodule "ruslo/leathers"]
  path = ruslo/leathers
  url = http://github.com/ruslo/leathers
[submodule "json/json_spirit"]
  path = json/json_spirit
  url = https://github.com/cierelabs/json_spirit
[submodule "boost/spirit"]
  path = boost/spirit
  url = https://github.com/boostorg/spirit
[submodule "boost/fusion"]
  path = boost/fusion
  url = https://github.com/boostorg/fusion
[submodule "ruslo/sugar"]
  path = ruslo/sugar
  url = https://github.com/ruslo/sugar
[submodule "ruslo/polly"]
  path = ruslo/polly
  url = https://github.com/ruslo/polly
[submodule "boost/log"]
  path = boost/log
  url = https://github.com/boostorg/log
[submodule "forexample/hunter-simple"]
  path = forexample/hunter-simple
  url = https://github.com/forexample/hunter-simple
[submodule "travis-ci-tester/travis-test-mac-gcc"]
  path = travis-ci-tester/travis-test-mac-gcc
  url = http://github.com/travis-ci-tester/travis-test-mac-gcc
[submodule "travis-ci-tester/travis-test-mac-clang-libstdcxx"]
  path = travis-ci-tester/travis-test-mac-clang-libstdcxx
  url = https://github.com/travis-ci-tester/travis-test-mac-clang-libstdcxx
[submodule "travis-ci-tester/toolchain-table"]
  path = travis-ci-tester/toolchain-table
  url = https://github.com/travis-ci-tester/toolchain-table
[submodule "travis-ci-tester/travis-test-mac-clang-address-sanitizer"]
  path = travis-ci-tester/travis-test-mac-clang-address-sanitizer
  url = https://github.com/travis-ci-tester/travis-test-mac-clang-address-sanitizer
[submodule "travis-ci-tester/travis-test-linux-clang-memory-sanitizer"]
  path = travis-ci-tester/travis-test-linux-clang-memory-sanitizer
  url = https://github.com/travis-ci-tester/travis-test-linux-clang-memory-sanitizer
[submodule "forexample/testapp"]
  path = forexample/testapp
  url = https://github.com/forexample/testapp
[submodule "ruslo/hunter"]
  path = ruslo/hunter
  url = https://github.com/ruslo/hunter
[submodule "hunter-packages/gate"]
  path = hunter-packages/gate
  url = https://github.com/hunter-packages/gate
[submodule "forexample/example-A"]
  path = forexample/example-A
  url = https://github.com/forexample/example-A
[submodule "hunter-packages/boost"]
  path = hunter-packages/boost
  url = https://github.com/hunter-packages/boost
[submodule "forexample/cmake-lock-test"]
  path = forexample/cmake-lock-test
  url = https://github.com/forexample/cmake-lock-test
[submodule "hunter-packages/uri"]
  path = hunter-packages/uri
  url = https://github.com/hunter-packages/uri
[submodule "hunter-packages/json_spirit"]
  path = hunter-packages/json_spirit
  url = https://github.com/hunter-packages/json_spirit
[submodule "boost/mpi"]
  path = boost/mpi
  url = https://github.com/boostorg/mpi
[submodule "boost/program_options"]
  path = boost/program_options
  url = https://github.com/boostorg/program_options
[submodule "forexample/generate-known"]
  path = forexample/generate-known
  url = https://github.com/forexample/generate-known
[submodule "forexample/test-ios-fix"]
  path = forexample/test-ios-fix
  url = https://github.com/forexample/test-ios-fix
[submodule "forexample/file-lock-test"]
  path = forexample/file-lock-test
  url = https://github.com/forexample/file-lock-test
[submodule "hunter-packages/clapack"]
  path = hunter-packages/clapack
  url = https://github.com/hunter-packages/clapack
[submodule "hunter-packages/tiff"]
  path = hunter-packages/tiff
  url = https://github.com/hunter-packages/tiff
[submodule "hunter-packages/zlib"]
  path = hunter-packages/zlib
  url = https://github.com/hunter-packages/zlib
[submodule "hunter-packages/libssh2"]
  path = hunter-packages/libssh2
  url = https://github.com/hunter-packages/libssh2
[submodule "forexample/qt-cmake"]
  path = forexample/qt-cmake
  url = https://github.com/forexample/qt-cmake
[submodule "forexample/r-cmake"]
  path = forexample/r-cmake
  url = https://github.com/forexample/r-cmake
[submodule "hunter-packages/gpuimage"]
  path = hunter-packages/gpuimage
  url = https://github.com/hunter-packages/GPUImage
[submodule "hunter-packages/opencv"]
  path = hunter-packages/opencv
  url = https://github.com/hunter-packages/opencv
[submodule "hunter-packages/libpng"]
  path = hunter-packages/libpng
  url = https://github.com/hunter-packages/libpng
[submodule "hunter-packages/washer"]
  path = hunter-packages/washer
  url = https://github.com/hunter-packages/washer
[submodule "hunter-packages/csv-parser-cplusplus"]
  path = hunter-packages/csv-parser-cplusplus
  url = https://github.com/hunter-packages/csv-parser-cplusplus
[submodule "hunter-packages/cvmatio"]
  path = hunter-packages/cvmatio
  url = https://github.com/hunter-packages/cvmatio
[submodule "hunter-packages/wxWidgets"]
  path = hunter-packages/wxWidgets
  url = https://github.com/alamaison/wxWidgets
[submodule "hunter-packages/winsparkle"]
  path = hunter-packages/winsparkle
  url = https://github.com/alamaison/winsparkle
[submodule "hunter-packages/ccv"]
  path = hunter-packages/ccv
  url = https://github.com/hunter-packages/ccv
[submodule "hunter-packages/dlib"]
  path = hunter-packages/dlib
  url = https://github.com/davisking/dlib
[submodule "ruslo/gpuopencv"]
  path = ruslo/gpuopencv
  url = https://github.com/ruslo/GPUOpenCV
[submodule "hunter-packages/bzip2"]
  path = hunter-packages/bzip2
  url = https://github.com/hunter-packages/bzip2-cmake-win32
[submodule "hunter-packages/gtest"]
  path = hunter-packages/gtest
  url = https://github.com/hunter-packages/gtest
[submodule "hunter-packages/android-sdk"]
  path = hunter-packages/android-sdk
  url = https://github.com/hunter-packages/android-sdk
[submodule "android-cmake"]
  path = android-cmake
  url = https://github.com/taka-no-me/android-cmake
[submodule "hunter-packages/android-apk"]
  path = hunter-packages/android-apk
  url = https://github.com/hunter-packages/android-apk
[submodule "forexample/android-cmake"]
  path = forexample/android-cmake
  url = https://github.com/forexample/android-cmake
[submodule "forexample/cmake-osx-framework"]
  path = forexample/cmake-osx-framework
  url = https://github.com/forexample/cmake-osx-framework
[submodule "forexample/ios-dynamic-framework"]
  path = forexample/ios-dynamic-framework
  url = https://github.com/forexample/ios-dynamic-framework
[submodule "forexample/ios-cmake-in-native-xcode"]
  path = forexample/ios-cmake-in-native-xcode
  url = https://github.com/forexample/ios-cmake-in-native-xcode
[submodule "forexample/qt-ios-examples"]
  path = forexample/qt-ios-examples
  url = https://github.com/forexample/qt-ios-examples
[submodule "hunter-packages/hdf5"]
  path = hunter-packages/hdf5
  url = https://github.com/hunter-packages/hdf5
[submodule "hunter-packages/qt-android-cmake"]
  path = hunter-packages/qt-android-cmake
  url = https://github.com/hunter-packages/qt-android-cmake
[submodule "forexample/github-binary-release"]
  path = forexample/github-binary-release
  url = https://github.com/forexample/github-binary-release
[submodule "ruslo/gatherer"]
  path = ruslo/gatherer
  url = https://github.com/ruslo/gatherer
[submodule "ruslo/glog"]
  path = ruslo/glog
  url = https://github.com/ruslo/glog
[submodule "hunter-packages/dbus"]
  path = hunter-packages/dbus
  url = https://github.com/hunter-packages/dbus
[submodule "ruslo/log4cplus"]
  path = ruslo/log4cplus
  url = https://github.com/ruslo/log4cplus
[submodule "ruslo/ogles_gpgpu"]
  path = ruslo/ogles_gpgpu
  url = https://github.com/ruslo/ogles_gpgpu
[submodule "ruslo/spdlog"]
  path = ruslo/spdlog
  url = https://github.com/ruslo/spdlog
[submodule "hunter-packages/glog"]
  path = hunter-packages/glog
  url = https://github.com/google/glog
[submodule "ruslo/json"]
  path = ruslo/json
  url = https://github.com/ruslo/json
[submodule "ansible"]
  path = ansible
  url = https://github.com/ansible/ansible
[submodule "hunter-packages/qt"]
  path = hunter-packages/qt
  url = https://github.com/hunter-packages/qt
[submodule "forexample/date-resolution-test"]
  path = forexample/date-resolution-test
  url = https://github.com/forexample/date-resolution-test
[submodule "hunter-packages/QtQmlManager"]
  path = hunter-packages/QtQmlManager
  url = https://github.com/hunter-packages/QtQmlManager
[submodule "hunter-packages/QtCMakeExtra"]
  path = hunter-packages/QtCMakeExtra
  url = https://github.com/hunter-packages/QtCMakeExtra
[submodule "oh-my-zsh"]
  path = oh-my-zsh
  url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "hunter-packages/libyuv"]
  path = hunter-packages/libyuv
  url = https://github.com/hunter-packages/libyuv
[submodule "hunter-packages/lua"]
  path = hunter-packages/lua
  url = https://github.com/hunter-packages/lua
[submodule "hunter-packages/json"]
  path = hunter-packages/json
  url = https://github.com/hunter-packages/json
[submodule "ruslo/0"]
  path = ruslo/0
  url = https://github.com/ruslo/0
[submodule "ruslo/CGold"]
  path = ruslo/CGold
  url = https://github.com/ruslo/CGold
[submodule "forexample/ios-xcode-templates"]
  path = forexample/ios-xcode-templates
  url = https://github.com/forexample/ios-xcode-templates
[submodule "ruslo/yed-uml"]
  path = ruslo/yed-uml
  url = https://github.com/ruslo/yed-uml
[submodule "hunter-packages/googletest"]
  path = hunter-packages/googletest
  url = https://github.com/hunter-packages/googletest
[submodule "qt/multimedia"]
  path = qt/multimedia
  url = ssh://codereview.qt-project.org/qt/qtmultimedia
[submodule "travis-ci-tester/travis-test-gcc-cxx-11"]
  path = travis-ci-tester/travis-test-gcc-cxx-11
  url = https://github.com/travis-ci-tester/travis-test-gcc-cxx-11
[submodule "travis-ci-tester/travis-test-clang-cxx-11"]
  path = travis-ci-tester/travis-test-clang-cxx-11
  url = https://github.com/travis-ci-tester/travis-test-clang-cxx-11
[submodule "travis-ci-tester/travis-test-clang-with-libcxx"]
  path = travis-ci-tester/travis-test-clang-with-libcxx
  url = https://github.com/travis-ci-tester/travis-test-clang-with-libcxx
[submodule "hunter-packages/armadillo"]
  path = hunter-packages/armadillo
  url = https://github.com/hunter-packages/armadillo
[submodule "boost/compute"]
  path = boost/compute
  url = https://github.com/boostorg/compute
[submodule "hunter-packages/boost-compute"]
  path = hunter-packages/boost-compute
  url = https://github.com/hunter-packages/boost-compute
[submodule "hunter-packages/arrayfire"]
  path = hunter-packages/arrayfire
  url = https://github.com/hunter-packages/arrayfire
[submodule "hunter-packages/alltheflops-threads"]
  path = hunter-packages/alltheflops-threads
  url = https://github.com/hunter-packages/alltheflops-threads
[submodule "hunter-packages/clBLAS"]
  path = hunter-packages/clBLAS
  url = https://github.com/hunter-packages/clBLAS
[submodule "hunter-packages/protobuf"]
  path = hunter-packages/protobuf
  url = https://github.com/hunter-packages/protobuf
[submodule "travis-ci-tester/travis-test-python3-requests"]
  path = travis-ci-tester/travis-test-python3-requests
  url = https://github.com/travis-ci-tester/travis-test-python3-requests
[submodule "travis-ci-tester/travis-test-clang-mac-cxx-11"]
  path = travis-ci-tester/travis-test-clang-mac-cxx-11
  url = https://github.com/travis-ci-tester/travis-test-clang-mac-cxx-11
[submodule "hunter-packages/freeimage"]
  path = hunter-packages/freeimage
  url = https://github.com/hunter-packages/freeimage
[submodule "hunter-packages/jpeg"]
  path = hunter-packages/jpeg
  url = https://github.com/hunter-packages/jpeg
[submodule "travis-ci-tester/travis-test-env"]
  path = travis-ci-tester/travis-test-env
  url = https://github.com/travis-ci-tester/travis-test-env
[submodule "hunter-packages/android-ndk"]
  path = hunter-packages/android-ndk
  url = https://github.com/hunter-packages/android-ndk
[submodule "travis-ci-tester/travis-test-osx-clang-gcc-same"]
  path = travis-ci-tester/travis-test-osx-clang-gcc-same
  url = https://github.com/travis-ci-tester/travis-test-osx-clang-gcc-same
[submodule "hunter-packages/travis-linux-docker"]
  path = hunter-packages/travis-linux-docker
  url = https://github.com/hunter-packages/travis-linux-docker
[submodule "hunter-packages/android-cmake"]
  path = hunter-packages/android-cmake
  url = https://github.com/hunter-packages/android-cmake
[submodule "hunter-test-cases/hunter_test_case_0"]
  path = hunter-test-cases/hunter_test_case_0
  url = https://github.com/hunter-test-cases/hunter_test_case_0
[submodule "travis-ci-tester/travis-test-linux-egl"]
  path = travis-ci-tester/travis-test-linux-egl
  url = https://github.com/travis-ci-tester/travis-test-linux-egl
[submodule "travis-ci-tester/travis-test-android-dev-libs"]
  path = travis-ci-tester/travis-test-android-dev-libs
  url = https://github.com/travis-ci-tester/travis-test-android-dev-libs
[submodule "travis-test-multi-os-custom-osx-image"]
  path = travis-ci-tester/travis-test-multi-os-custom-osx-image
  url = https://github.com/travis-ci-tester/travis-test-multi-os-custom-osx-image
[submodule "hunter-packages/polyclipping"]
  path = hunter-packages/polyclipping
  url = https://github.com/hunter-packages/polyclipping
[submodule "hunter-packages/poly2tri"]
  path = hunter-packages/poly2tri
  url = https://github.com/hunter-packages/poly2tri
[submodule "hunter-packages/minizip"]
  path = hunter-packages/minizip
  url = https://github.com/hunter-packages/minizip
[submodule "hunter-packages/openddl-parser"]
  path = hunter-packages/openddl-parser
  url = https://github.com/hunter-packages/openddl-parser
[submodule "hunter-packages/assimp"]
  path = hunter-packages/assimp
  url = https://github.com/hunter-packages/assimp
[submodule "hunter-packages/SFML"]
  path = hunter-packages/SFML
  url = https://github.com/hunter-packages/SFML
[submodule "hunter-packages/SDL2"]
  path = hunter-packages/SDL2
  url = https://github.com/hunter-packages/SDL2
[submodule "hunter-packages/convertutf"]
  path = hunter-packages/convertutf
  url = https://github.com/hunter-packages/convertutf
[submodule "hunter-packages/rapidjson"]
  path = hunter-packages/rapidjson
  url = https://github.com/hunter-packages/rapidjson
[submodule "cgold-examples/minimal-example"]
  path = cgold-examples/minimal-example
  url = https://github.com/cgold-examples/minimal-example
[submodule "hunter-packages/hunter-bot-elixir"]
  path = hunter-packages/hunter-bot-elixir
  url = https://github.com/hunter-packages/hunter-bot-elixir
[submodule "cgold-examples/minimal-with-message"]
  path = cgold-examples/minimal-with-message
  url = https://github.com/cgold-examples/minimal-with-message
[submodule "cgold-examples/minimum-required-example"]
  path = cgold-examples/minimum-required-example
  url = https://github.com/cgold-examples/minimum-required-example
[submodule "cgold-examples/policy-examples"]
  path = cgold-examples/policy-examples
  url = https://github.com/cgold-examples/policy-examples
[submodule "cgold-examples/project-examples"]
  path = cgold-examples/project-examples
  url = https://github.com/cgold-examples/project-examples
[submodule "forexample/qt-resources-istream"]
  path = forexample/qt-resources-istream
  url = https://github.com/forexample/qt-resources-istream
[submodule "ruslo/rtfd-css"]
  path = ruslo/rtfd-css
  url = https://github.com/ruslo/rtfd-css
[submodule "hunter-packages/curl"]
  path = hunter-packages/curl
  url = https://github.com/hunter-packages/curl
[submodule "hunter-packages/xgboost"]
  path = hunter-packages/xgboost
  url = https://github.com/hunter-packages/xgboost
[submodule "hunter-packages/thread-pool-cpp"]
  path = hunter-packages/thread-pool-cpp
  url = https://github.com/hunter-packages/thread-pool-cpp
[submodule "hunter-packages/flatbuffers"]
  path = hunter-packages/flatbuffers
  url = https://github.com/hunter-packages/flatbuffers
[submodule "hunter-packages/dest"]
  path = hunter-packages/dest
  url = https://github.com/hunter-packages/dest
[submodule "hunter-packages/ogles_gpgpu"]
  path = hunter-packages/ogles_gpgpu
  url = https://github.com/hunter-packages/ogles_gpgpu
[submodule "hunter-packages/tinydir"]
  path = hunter-packages/tinydir
  url = https://github.com/hunter-packages/tinydir
[submodule "appveyor-tester/cmake-android"]
  path = appveyor-tester/cmake-android
  url = https://github.com/appveyor-tester/cmake-android
[submodule "cgold-examples/platforms-android-on-windows"]
  path = cgold-examples/platforms-android-on-windows
  url = https://github.com/cgold-examples/platforms-android-on-windows
[submodule "hunter-packages/crashpad"]
  path = hunter-packages/crashpad
  url = https://github.com/hunter-packages/crashpad
[submodule "hunter-packages/mini_chromium"]
  path = hunter-packages/mini_chromium
  url = https://github.com/hunter-packages/mini_chromium
[submodule "travis-ci-tester/travis-test-python3"]
  path = travis-ci-tester/travis-test-python3
  url = https://github.com/travis-ci-tester/travis-test-python3
[submodule "travis-ci-tester/travis-test-pip3"]
  path = travis-ci-tester/travis-test-pip3
  url = https://github.com/travis-ci-tester/travis-test-pip3
[submodule "hunter-packages/hunter-bot"]
  path = hunter-packages/hunter-bot
  url = https://github.com/hunter-packages/hunter-bot
[submodule "ruslo/ansible/rust"]
  path = ruslo/ansible/rust
  url = https://github.com/ruslo/ansible-rust
[submodule "qed/ansible/socorro"]
  path = qed/ansible/socorro
  url = https://github.com/qedsoftware/ansible-socorro
[submodule "qed/ansible/opendronemap"]
  path = qed/ansible/opendronemap
  url = https://github.com/qedsoftware/ansible-opendronemap
[submodule "hunter-packages/eos"]
  path = hunter-packages/eos
  url = https://github.com/hunter-packages/eos
[submodule "cgold-examples/fruits"]
  path = cgold-examples/fruits
  url = https://github.com/cgold-examples/fruits
[submodule "hunter-packages/gsl"]
  path = hunter-packages/gsl
  url = https://github.com/hunter-packages/gsl
[submodule "forexample/big-shared"]
  path = forexample/big-shared
  url = https://github.com/forexample/big-shared
[submodule "hunter-packages/caffe"]
  path = hunter-packages/caffe
  url = https://github.com/hunter-packages/caffe
[submodule "hunter-packages/gflags"]
  path = hunter-packages/gflags
  url = https://github.com/hunter-packages/gflags
[submodule "hunter-packages/OpenBLAS"]
  path = hunter-packages/OpenBLAS
  url = https://github.com/hunter-packages/OpenBLAS
[submodule "forexample/caffe-simple-with-hunter"]
  path = forexample/caffe-simple-with-hunter
  url = https://github.com/forexample/caffe-simple-with-hunter
[submodule "hunter-packages/yaml-cpp"]
  path = hunter-packages/yaml-cpp
  url = https://github.com/hunter-packages/yaml-cpp
[submodule "hunter-packages/eigen"]
  path = hunter-packages/eigen
  url = https://github.com/hunter-packages/eigen
[submodule "hunter-packages/ceres-solver"]
  path = hunter-packages/ceres-solver
  url = https://github.com/hunter-packages/ceres-solver/
[submodule "hunter-packages/cxxopts"]
  path = hunter-packages/cxxopts
  url = https://github.com/hunter-packages/cxxopts
[submodule "hunter-packages/lzma"]
  path = hunter-packages/lzma
  url = https://github.com/hunter-packages/lzma
[submodule "hunter-packages/mtplz"]
  path = hunter-packages/mtplz
  url = https://github.com/hunter-packages/mtplz
[submodule "hunter-packages/cpp_rsc"]
  path = hunter-packages/cpp_rsc
  url = https://github.com/hunter-packages/cpp_rsc
[submodule "hunter-packages/imshow"]
  path = hunter-packages/imshow
  url = https://github.com/hunter-packages/imshow
[submodule "hunter-packages/boost-pba"]
  path = hunter-packages/boost-pba
  url = https://github.com/hunter-packages/boost-pba
[submodule "travis-ci-tester/travis-trusty-env"]
  path = travis-ci-tester/travis-trusty-env
  url = https://github.com/travis-ci-tester/travis-trusty-env
[submodule "hunter-packages/ARM_NEON_2_x86_SSE"]
  path = hunter-packages/ARM_NEON_2_x86_SSE
  url = https://github.com/hunter-packages/ARM_NEON_2_x86_SSE
[submodule "hunter-packages/glfw"]
  path = hunter-packages/glfw
  url = https://github.com/hunter-packages/glfw
[submodule "hunter-packages/nasm"]
  path = hunter-packages/nasm
  url = https://github.com/hunter-packages/nasm
[submodule "ansible-stuff/gitenv"]
  path = ansible-stuff/gitenv
  url = https://github.com/ansible-stuff/gitenv
[submodule "ansible-stuff/ubuntu-bootstrap"]
  path = ansible-stuff/ubuntu-bootstrap
  url = https://github.com/ansible-stuff/ubuntu-bootstrap
[submodule "ansible-stuff/ssh"]
  path = ansible-stuff/ssh
  url = https://github.com/ansible-stuff/ssh
